<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <div class="container-fluid">

            <!-- #serch bar -->
            <div class="d-flex justify-content-center align-items-center container ">

                <form class="form-group row"  action = "{% url 'search' %}" method = "post">
                    {%  csrf_token %}

                    <!-- col-md-auto my-2 -->
                    <!-- col-md-5-->
                    <div class="col-md-auto my-2 ">
                        <input class="form-control-inline" type="search"
                           placeholder="ISBN"
                           aria-label="Search"
                           name = "search" id="search" >

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>

                    </div>


                </form>
            </div>
    </div>

    <div class="d-flex justify-content-center align-items-center container ">

        <div class="text justify-content-center align-items-center container ">
            <h2 style="text-align: center">{{ search_str | title}}</h2>
        </div>

    </div>

    <!-- CARD -->
    <div class="d-flex justify-content-center align-items-center container ">
        <div class="card" style="width: 18rem;">
            <img src="{{ img_url }}" class="card-img-top" alt="...">

             <div class="card-body">
                <h5 class="card-title">{{ book_details.title }}</h5>
                 <p class="card-text">.</p>
             </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item">author : {{ book_details.author }}</li>
                <li class="list-group-item">publication date : {{ book_details.publish_date }}</li>
                <li class="list-group-item">publishers : {{ book_details.publishers }}</li>
              </ul>

        </div>
    </div>



{% endblock content %}