<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}

    <div class="d-flex justify-content-center align-items-center container ">

        <div class="text justify-content-center align-items-center container ">
            <h2 style="text-align: center">{{ search_str }}</h2>
        </div>

    </div>

    <!-- if valid show a CARD. -->
    {% if valid_search_str %}
            <!-- CARD -->
        <div class="d-flex justify-content-center align-items-center container ">
            <div class="card" style="width: 18rem;">
                {%  csrf_token %}

                <!-- BUTTON in the CARD-->
                {% if  user.is_authenticated   %}

                    <div class="btn-group" >
                      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only"></span>
                      </button>

                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'myApp:add_to_shelf'  book.isbn_13  %}" >I have this book.</a>
                        <a class="dropdown-item" href="{% url 'myApp:add_to_wish_list'  book.isbn_13  %}">I want to read this.</a>

                        {% if is_matched %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'user:request_exchange'  book.isbn_13  %}">Request to exchange</a>
                        {% endif %}

                      </div>

                    </div>
                {% endif %}


                <!-- IMAGE -->
                <img src="{{ book.img_url }}" class="card-img-top" alt="...">

                 <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                     <!--<p class="card-text">.</p>-->
                 </div>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Author : {{ book.author }}</li>
                      <li class="list-group-item">ISBN-13 : {{ book.isbn_13 }}</li>
                    <li class="list-group-item">Publication date : {{ book.publish_date }}</li>
                    <li class="list-group-item">Publishers : {{ book.publishers }}</li>
                  </ul>

            </div>
        </div>
    {% endif %}

{% endblock content %}