body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 200px;
}

.form-group{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-success{
    margin-left: auto;
    margin-right: auto;
}

.create-account{
    text-align: center;
}
