{% extends 'mainTemplate/main.html'%}
{% load static %}
{% load bootstrap4 %}


{% block search %}
    <div class="container-fluid">

        <!-- #serch bar -->
        <div class="d-flex justify-content-center align-items-center container ">

            <form class="form-group row"  action = "{% url 'myApp:search' %}" method = "post">
                {%  csrf_token %}

                <!-- col-md-auto my-2 -->

                <div class="col-md-auto my-2 ">
                    <input class="form-control-inline" type="search"
                       placeholder="ISBN"
                       aria-label="Search"
                       name = "search" id="search" >



                    <!-- submit Button -->
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>

                    <!-- Radios Buttons -->
                     <div class="form-group col-lg-12">
                        <label class="custom-control custom-radio"><span class="custom-control-description">Search options </span></label>

                        <label class="custom-control custom-radio">
                          <input id="searchOpenLibrary" name="cat" type="radio" class="custom-control-input" value='0'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">OpenLibrary</span>
                        </label>
                        <label class="custom-control custom-radio">
                          <input id="searchDatabase" name="cat" type="radio" class="custom-control-input" value='1'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Database</span>
                        </label>
                         <label class="custom-control custom-radio">
                          <input id="searchMatching" name="cat" type="radio" class="custom-control-input" value='2'>
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">Matching</span>
                         </label>
                      </div>

                </div>


            </form>
        </div>
    </div>

{% endblock search %}
{% block content %}
{% endblock content %}






