<!DOCTYPE html>
{% extends 'mainTemplate/main.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% csrf_token %}

    {% if user.is_authenticated %}
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Wants to read</th>
              <th scope="col">Details</th>

            </tr>
          </thead>
          <tbody>
            {% for r in  in_requests_list %}
                <tr>
                  <th scope="row">{{ r.user_1.username }}</th>
                    <td>{{ r.book_2.isbn_13.title}}</td>
                    <td><a href="{% url 'user:request_detail' r.id 12345678 0 0 %}">See details </a></td>

                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

{% endblock content %}