{% extends 'mainTemplate/main.html'%}
{% load static %}
{% load bootstrap4 %}


{% block navtabs %}
    {%  csrf_token %}
        {% if user.is_authenticated %}
            <nav class="nav nav-pills nav-justified nav-light bg-light">
              <a class="nav-link {{ nav_context.user_info}}" href="{% url 'user:user_info' %}">Info</a>
              <a class="nav-link {{ nav_context.address }}" href="{% url 'user:address' %}">Address</a>

{#              <a class="nav-link disabled" href="#">Disabled</a>#}
            </nav>
        {% endif %}
{% endblock navtabs %}
{% block content %}
{% endblock content %}






