<!DOCTYPE html>
{% extends 'mainTemplate/main.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

    {% csrf_token %}
    <div class="container-fluid">

        <div class="row">
            {% for book in book_list %}
                <div class="col-auto">
                    <div class="card border-primary mb-3">

                        <img style="height: 100%; width: 100%; display: block;" src="{{ book.img_url }}" alt="Card image">

                        <!--
                        <div class="card-header">{{ book.title }} </div>
                        -->
                        <div class="card-body">
                            <h4 class="card-title">{{ book.title }}</h4>
                            <!--<p class="card-text">.</p> -->
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Author : {{ book.author }}</li>
                            <li class="list-group-item">ISBN-13 : {{ book.isbn_13 }}</li>
                            <li class="list-group-item">Publication date : {{ book.publish_date }}</li>
                            <li class="list-group-item">Publishers : {{ book.publishers }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--
    <div class="card-deck">
        {% for book in book_list %}

            <div class="card">
                <img class="card-img-top" src="{{ book.img_url }}" alt="Card image cap">

                <div class="card-body">
                  <h5 class="card-title">{{ book.title}}</h5>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">author : {{ book.author }}</li>
                    <li class="list-group-item">publication date : {{ book.publish_date }}</li>
                    <li class="list-group-item">publishers : {{ book.publishers }}</li>
                  </ul>

                </div>

                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
          </div>
        {% endfor %}



    </div>
    -->

{% endblock content %}